<div class="container-fluid">
    <div class="row-fluid">
        
        <!-- Extension status box -->
        <div class="span2">
          <%= render 'shared/ext_status' %>
        </div>
    
        <div class="span10">
            <% if !@queue_statuses.empty? %>
            <!-- Table showing queues statuses -->
            <h3>Queues statuses</h3>
            <table id="queue-statuses" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Queue</th>
                        <th>Queue Count</th>
                        <th>Abandoned</th>
                        <th>Completed Calls</th>
                        <th>Hold Time</th>
                        <th>Talk Time</th>
                        <th class="action-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @queues.each do |queue| %>
                    <tr data-queue="<%= queue.name %>">
                        <td class="text" ><%= queue.name %></td>
                        <td class="numeric" data-property="count">N/A</td>
                        <td class="numeric" data-property="abandoned"><%= @queue_statuses[queue.name]["abandoned"] %></td>
                        <td class="numeric" data-property="completed"><%= @queue_statuses[queue.name]["completed"] %></td>
                        <td class="numeric" data-property="holdTime"><%= @queue_statuses[queue.name]["holdTime"] %></td>
                        <td class="numeric" data-property="talkTime"><%= @queue_statuses[queue.name]["talkTime"] %></td>

                        <!-- Queue actions -->
                        <td class="action-col">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                                <ul class="dropdown-menu right">
                                    <% if !current_user.extension.empty? and current_user.pbx_queues.include? queue %>
                                        <!-- Log on/of actions-->
                                        <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                            <li data-action="logonoff" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-stop"></i> Log Off'), agent_logoff_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-play'></i> Log On"),
                                                            "off-label" => raw("<i class='icon-stop'></i> Log Off"),
                                                            "on-href" => agent_logon_path(:queue_id => queue.id),
                                                            "off-href" => agent_logoff_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% else %>
                                            <li data-action="logonoff" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-play"></i> Log On'), agent_logon_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-play'></i> Log On"),
                                                            "off-label" => raw("<i class='icon-stop'></i> Log Off"),
                                                            "on-href" => agent_logon_path(:queue_id => queue.id),
                                                            "off-href" => agent_logoff_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% end %>
                                        
                                        <!-- Pause/unpause actions -->
                                        <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                            <% if @queue_statuses[queue.name]["members"][current_user.extension]["paused"] == false %>
                                                <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                    <%= link_to raw('<i class="icon-pause"></i> Pause'), agent_pause_path(:queue_id => queue.id), 
                                                        { 
                                                            :data => { 
                                                                "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                                "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                                "on-href" => agent_pause_path(:queue_id => queue.id),
                                                                "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                                }, 
                                                        :tabindex => -1, :remote => true } %>
                                                </li>
                                            <% else %>
                                                <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                    <%= link_to raw('<i class="icon-play"></i> Unpause'), agent_unpause_path(:queue_id => queue.id), 
                                                        { 
                                                            :data => { 
                                                                "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                                "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                                "on-href" => agent_pause_path(:queue_id => queue.id),
                                                                "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                                }, 
                                                        :tabindex => -1, :remote => true } %>
                                                </li>
                                            <% end %>
                                        <% else %>
                                            <!-- Disable pause item if agent is logged off -->
                                            <li data-action="pause" class="disabled" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-pause"></i> Pause'), agent_pause_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                            "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                            "on-href" => agent_pause_path(:queue_id => queue.id),
                                                            "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                    <li>
                                        <%= link_to raw('<i class="icon-refresh"></i> Reset Stats'), manager_reset_queue_stats_path(:queue => queue.name), 
                                            {:tabindex => -1, :remote => true } %>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            
            <!-- Table showing agents statuses -->
            <h3>Agents statuses</h3>
            <table id="agent-statuses" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th rowspan="2">Queue</th>
                        <th id="agents-header" colspan="<%= @agents.length %>">Agents</th>
                    </tr>
                    <tr>
                        <!-- Agent header is actions drop-down menu -->
                        <% @agents.each do |agent| %>
                            <% if @loggedon_agents.include? agent.extension %>
                            <th data-agent="<%= agent.extension %>">
                            <% else %>
                            <th class="hidden" data-agent="<%= agent.extension %>">
                            <% end %>
                                <div class="btn-group" data-agent="<%= agent.extension %>">
                                    <button class="btn"><%= agent.extension %></button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!-- logoff action -->
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Log Off</a>
                                            <ul class="dropdown-menu">
                                                <% @queues.each do |queue| %>
                                                    <li  data-action="logoff" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>"
                                                    <% if !@queue_statuses[queue.name]["members"].has_key? agent.extension %>
                                                        class="disabled"
                                                    <% end %>
                                                    >
                                                    <%= link_to raw("<i class='icon-stop'></i> ") + queue.name, manager_agent_logoff_path(agent.id, queue.name), 
                                                        {:data => { :'queue' => "#{queue.name}" }, :tabindex => -1, :remote => true} %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                        
                                        <!-- pause/unpause action -->
                                        <li class="dropdown-submenu" data-action="pause">
                                            <a tabindex="-1" href="#">Pause/Unpause</a>
                                            <ul class="dropdown-menu">
                                                <% @queues.each do |queue| %>
                                                    <% if @queue_statuses[queue.name]["members"].has_key? agent.extension %>
                                                        <% if @queue_statuses[queue.name]["members"][agent.extension]["paused"] == false %>
                                                            <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>">
                                                                <%= link_to raw("<i class='icon-pause'></i> ") + queue.name, 
                                                                    manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                    { 
                                                                        :data => { 
                                                                            "on-label" => raw("<i class='icon-pause'></i> ") + queue.name,
                                                                            "off-label" => raw("<i class='icon-play'></i> ") + queue.name,
                                                                            "on-href" => manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                            "off-href" => manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id),
                                                                            }, 
                                                                    :tabindex => -1, :remote => true } %>
                                                            </li>
                                                        <% else %>
                                                            <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>">
                                                                <%= link_to raw("<i class='icon-play'></i> ") + queue.name, 
                                                                    manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                    { 
                                                                        :data => { 
                                                                            "on-label" => raw("<i class='icon-pause'></i> ") + queue.name,
                                                                            "off-label" => raw("<i class='icon-play'></i> ") + queue.name,
                                                                            "on-href" => manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                            "off-href" => manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                            }, 
                                                                    :tabindex => -1, :remote => true } %>
                                                            </li>
                                                        <% end %>
                                                    <% else %>
                                                        <!-- Disable pause item if agent is logged off -->
                                                        <li data-action="pause" class="disabled" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>">
                                                            <%= link_to raw("<i class='icon-pause'></i> ") + queue.name,  
                                                                manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                { 
                                                                    :data => { 
                                                                        "on-label" => raw("<i class='icon-pause'></i> ") + queue.name,
                                                                        "off-label" => raw("<i class='icon-play'></i> ") + queue.name,
                                                                        "on-href" => manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                        "off-href" => manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                                        }, 
                                                                :tabindex => -1, :remote => true } %>
                                                        </li>
                                                    <% end %>
                                                <% end %>
                                            </ul>
                                        </li>
                                        
                                        <li><a tabindex="-1" href="#">Whisper</a></li>
                                        <li><a tabindex="-1" href="#">Eavesdrop</a></li>
                                        <li><a tabindex="-1" href="#">Record</a></li>
                                    </ul>
                                </div>
                            </th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <% @queue_statuses.each do |queue_name, status| %>
                        <tr data-queue="<%= queue_name %>">
                            <!-- Queue -->
                            <th colspan="<%= @agents.length + 1 %>"><%= queue_name %></td>
                        </tr>
                        
                        <!-- Agent Status -->
                        <tr data-queue="<%= queue_name %>">
                            <td class="text">Agent Status</td>
                            
                            <% @agents.each do |agent| %>
                                <% if status["members"].has_key? agent.extension %>
                                    <td class="text" data-property="status" data-agent="<%= agent.extension %>">
                                        <%= status["members"][agent.extension]["status"] %>                                        
                                    </td>
                                <% else %>
                                    <% if @loggedon_agents.include? agent.extension %>
                                        <td class="text" data-property="status" data-agent="<%= agent.extension %>">loggedoff</td>
                                    <% else %>
                                        <td class="text hidden" data-property="status" data-agent="<%= agent.extension %>">loggedoff</td>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tr>
                        
                        <!-- Calls Taken -->
                        <tr data-queue="<%= queue_name %>">
                            <td class="text">Calls Taken</td>
                            
                            <% @agents.each do |agent| %>
                                <% if status["members"].has_key? agent.extension %>
                                    <td class="numeric" data-property="callsTaken" data-agent="<%= agent.extension %>">
                                        <%= status["members"][agent.extension]["callsTaken"] %>
                                    </td>
                                <% else %>
                                    <% if @loggedon_agents.include? agent.extension %>
                                        <td class="numeric" data-property="callsTaken" data-agent="<%= agent.extension %>">N/A</td>
                                    <% else %>
                                        <td class="numeric hidden" data-property="callsTaken" data-agent="<%= agent.extension %>">N/A</td>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tr>
                        
                        <!-- Last Call -->
                        <tr data-queue="<%= queue_name %>">
                            <td class="text">Last Call</td>
                            
                            <% @agents.each do |agent| %>
                                <% if status["members"].has_key? agent.extension %>
                                    <td class="text" data-property="lastCall" data-agent="<%= agent.extension %>">
                                        <% if status["members"][agent.extension]["lastCall"] > 0 %>
                                            <%= Time.at(status["members"][agent.extension]["lastCall"]).strftime("%d.%m.%Y. %H:%M:%S") %>
                                        <% else %>
                                            N/A
                                        <% end %>
                                    </td>
                                <% else %>
                                    <% if @loggedon_agents.include? agent.extension %>
                                        <td class="text" data-property="lastCall" data-agent="<%= agent.extension %>">N/A</td>
                                    <% else %>
                                        <td class="text hidden" data-property="lastCall" data-agent="<%= agent.extension %>">N/A</td>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% else %>
            <div class="alert alert-block">
              <h4>No queues defined!</h4>
            </div>
            <% end %>
        </div>
    </div>
</div>
