<div class="container-fluid">
    <div class="row-fluid">
        
        <!-- Extension status box -->
        <div class="span2">
          <%= render 'shared/ext_status' %>
        </div>
    
        <div class="span10">
            <% if !@queue_statuses.empty? %>
            <% @queues.each do |queue| %>
            <h3><%= queue.name %></h3>
            <table data-queue="<%= queue.name %>" class="queue-status table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Queue Count</th>
                        <th>Abandoned</th>
                        <th>Completed Calls</th>
                        <th>Hold Time</th>
                        <th>Talk Time</th>
                        <th class="action-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="numeric" data-property="queue-count">N/A</td>
                        <td class="numeric" data-property="abandoned"><%= @queue_statuses[queue.name]["abandoned"] %></td>
                        <td class="numeric" data-property="completed"><%= @queue_statuses[queue.name]["completed"] %></td>
                        <td class="numeric" data-property="holdTime"><%= @queue_statuses[queue.name]["holdTime"] %></td>
                        <td class="numeric" data-property="talkTime"><%= @queue_statuses[queue.name]["talkTime"] %></td>

                        <!-- Queue actions -->
                        <td class="action-col">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                                <ul class="dropdown-menu right">
                                    <% if !current_user.extension.empty? and current_user.pbx_queues.include? queue %>
                                        <!-- Log on/of actions-->
                                        <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                            <li data-action="logonoff" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-stop"></i> Log Off'), agent_logoff_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-play'></i> Log On"),
                                                            "off-label" => raw("<i class='icon-stop'></i> Log Off"),
                                                            "on-href" => agent_logon_path(:queue_id => queue.id),
                                                            "off-href" => agent_logoff_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% else %>
                                            <li data-action="logonoff" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-play"></i> Log On'), agent_logon_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-play'></i> Log On"),
                                                            "off-label" => raw("<i class='icon-stop'></i> Log Off"),
                                                            "on-href" => agent_logon_path(:queue_id => queue.id),
                                                            "off-href" => agent_logoff_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% end %>
                                        
                                        <!-- Pause/unpause actions -->
                                        <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                            <% if @queue_statuses[queue.name]["members"][current_user.extension]["paused"] == false %>
                                                <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                    <%= link_to raw('<i class="icon-pause"></i> Pause'), agent_pause_path(:queue_id => queue.id), 
                                                        { 
                                                            :data => { 
                                                                "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                                "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                                "on-href" => agent_pause_path(:queue_id => queue.id),
                                                                "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                                }, 
                                                        :tabindex => -1, :remote => true } %>
                                                </li>
                                            <% else %>
                                                <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                    <%= link_to raw('<i class="icon-play"></i> Unpause'), agent_unpause_path(:queue_id => queue.id), 
                                                        { 
                                                            :data => { 
                                                                "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                                "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                                "on-href" => agent_pause_path(:queue_id => queue.id),
                                                                "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                                }, 
                                                        :tabindex => -1, :remote => true } %>
                                                </li>
                                            <% end %>
                                        <% else %>
                                            <!-- Disable pause item if agent is logged off -->
                                            <li data-action="pause" class="disabled" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-pause"></i> Pause'), agent_pause_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                            "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                            "on-href" => agent_pause_path(:queue_id => queue.id),
                                                            "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% end %>
                                    <% end %>
                                    <li>
                                        <%= link_to raw('<i class="icon-refresh"></i> Reset Stats'), manager_reset_queue_stats_path(:queue => queue.name), 
                                            {:tabindex => -1, :remote => true } %>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table data-queue="<%= queue.name %>" class="agents-status table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Agent</th>
                        <th>Agent Status</th>
                        <th>Calls Taken</th>
                        <th>Last Call</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @agents.each do |agent| %>
                        <% if @queue_statuses[queue.name]["members"].has_key? agent.extension %>
                            <tr data-agent="<%= agent.extension %>">
                            
                            <!-- Agent -->
                            <td class="text"><%= agent.extension %></td>
                            
                            <!-- Agent status -->
                            <td class="text" data-property="status">
                                <%= @queue_statuses[queue.name]["members"][agent.extension]["status"] %>                                        
                            </td>
                                
                            <!-- Calls Taken -->
                            <td class="numeric" data-property="callsTaken">
                                <%= @queue_statuses[queue.name]["members"][agent.extension]["callsTaken"] %>
                            </td>
                            
                            <!-- Last Call -->
                            <td class="text" data-property="lastCall">
                                <% if @queue_statuses[queue.name]["members"][agent.extension]["lastCall"] > 0 %>
                                    <%= Time.at(@queue_statuses[queue.name]["members"][agent.extension]["lastCall"]).strftime("%d.%m.%Y. %H:%M:%S") %>
                                <% else %>
                                    N/A
                                <% end %>
                            </td>
                        <% else %>
                            <tr data-agent="<%= agent.extension %>" class="hidden">
                                <td class="text"><%= agent.extension %></td>
                                <td class="text" data-property="status">loggedoff</td>
                                <td class="numeric" data-property="callsTaken">N/A</td>
                                <td class="text" data-property="lastCall">N/A</td>
                        <% end %>
                    
                        <!-- Agent actions drop-down menu -->
                        <td class="action-col">
                            <div class="btn-group" data-agent="<%= agent.extension %>">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                                <ul class="dropdown-menu right">
                                    <!-- logoff action -->
                                    <li  data-action="logoff" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>"
                                    <% if !@queue_statuses[queue.name]["members"].has_key? agent.extension %>
                                        class="disabled"
                                    <% end %>
                                    >
                                    <%= link_to raw("<i class='icon-stop'></i> Log Off"), manager_agent_logoff_path(agent.id, queue.name), 
                                        {:data => { :'queue' => "#{queue.name}" }, :tabindex => -1, :remote => true} %>
                                    </li>
                                    
                                    <!-- pause/unpause action -->
                                    <% if @queue_statuses[queue.name]["members"].has_key? agent.extension %>
                                        <% if @queue_statuses[queue.name]["members"][agent.extension]["paused"] == false %>
                                            <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>">
                                                <%= link_to raw("<i class='icon-pause'></i> Pause"), 
                                                    manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                            "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                            "on-href" => manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                            "off-href" => manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id),
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% else %>
                                            <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>">
                                                <%= link_to raw("<i class='icon-play'></i> Unpause"), 
                                                    manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                            "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                            "on-href" => manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                            "off-href" => manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% end %>
                                    <% else %>
                                        <!-- Disable pause item if agent is logged off -->
                                        <li data-action="pause" class="disabled" data-queue="<%= queue.name %>" data-agent="<%= agent.extension %>">
                                            <%= link_to raw("<i class='icon-pause'></i> Pause"),  
                                                manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                { 
                                                    :data => { 
                                                        "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                        "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                        "on-href" => manager_pause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                        "off-href" => manager_unpause_agent_path(:queue_id => queue.id, :agent_id => agent.id), 
                                                        }, 
                                                :tabindex => -1, :remote => true } %>
                                        </li>
                                    <% end %>
                                    <li><a tabindex="-1" href="#">Whisper</a></li>
                                    <li><a tabindex="-1" href="#">Eavesdrop</a></li>
                                    <li><a tabindex="-1" href="#">Record</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <% if !@queue_statuses[queue.name]["members"].empty? %>
                        <tr class="hidden">
                    <% else %>
                        <tr>
                    <% end %>
                            <th colspan="5">No agents are logged onto this queue.</th>
                        </tr>
                </tfoot>
            </table>
            <% end %>
            
            <% else %>
            <div class="alert alert-block">
              <h4>No queues defined!</h4>
            </div>
            <% end %>
        </div>
    </div>
</div>
