<% content_for :view_role do %>Manager<% end %>

<div class="container-fluid">

<!-- Table showing queues statuses -->
<h3>Queues statuses</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Queueu</th>
            <th>Abandoned</th>
            <th>Completed</th>
            <th>Hold Time</th>
            <th>Max</th>
            <th>Talk Time</th>
            <th class="action-col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @queue_statuses.each do |status| %>
        <tr>
            <td><%= status["queue"] %></td>
            <td><%= status["abandoned"] %></td>
            <td><%= status["completed"] %></td>
            <td><%= status["holdTime"] %></td>
            <td><%= status["max"] %></td>
            <td><%= status["talkTime"] %></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>

<!-- Table showing agents statuses -->
<h3>Agents statuses</h3>
<table id="agent-statuses" class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th rowspan="3">Agent</th>
            <th colspan="<%= @queue_statuses.length * 4 %>">Queues</th>
            <th rowspan="3" class="action-col">Action</th>
        </tr>
        <tr>
            <% @queue_statuses.each do |status| %>
                <th colspan="4"><%= status["queue"] %></th>
            <% end %>
        </tr>
        <tr>
            <th>Status</th>
            <th>Calls Taken</th>
            <th>Last Call</th>
            <th>Penalty</th>
        </tr>
    </thead>
    <tbody>
        <% @agents.each do |agent| %>
            <tr>
                <td><%= agent.extension %></td>
                
                <!-- Status -->
                <% @queue_statuses.each do |status| %>
                    <% if (index = status["members"].index { |m| m["memberName"] == agent.extension }) %>
                        <td class="<%= "status-#{status['queue']}-#{agent.extension}" %>"><%= status["members"][index]["status"] %></td>
                        <td><%= status["members"][index]["callsTaken"] %></td>
                        <td><%= status["members"][index]["lastCall"] %></td>
                        <td><%= status["members"][index]["penalty"] %></td>
                    <% else %>
                        <td class="<%= "status-#{status['queue']}-#{agent.extension}" %>">loggedoff</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    <% end %>
                <% end %>
                
                <!-- Actions -->
                <td>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if @queue_statuses.index { |s| s["members"].index { |m| m["memberName"] == agent.extension } } %>
                            <li class="dropdown-submenu pull-left">
                                <a tabindex="-1" href="#">Log Off</a>
                                <ul class="dropdown-menu">
                                    <% @queue_statuses.each do |status| %>
                                        <% if status["members"].index { |m| m["memberName"] == agent.extension} %>
                                        <li>
                                            <%= link_to status["queue"], manager_agent_logoff_path(agent.id, status["queue"]), {:tabindex => -1, :remote => true} %>
                                        </li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </li>
                            <% else %>
                            <li class="dropdown-submenu pull-left disabled">
                                <a tabindex="-1" href="#">Log Off</a>
                            </li>
                            <% end %>
                            <li><a tabindex="-1" href="#">Whisper</a></li>
                            <li><a tabindex="-1" href="#">Eavesdrop</a></li>
                            <li><a tabindex="-1" href="#">Record</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
