<div class="container-fluid">
    <div class="row-fluid">
        
        <!-- Extension status box -->
        <div class="span2">
          <%= render 'shared/ext_status' %>
        </div>
        
        <!-- Queue status table -->
        <div class="span10">
            <!-- Table with queues and their statuses -->
            <% if !@queue_statuses.empty? %>
            <table id="queue-statuses" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Queue</th>
                        <th>Agent Status</th>
                        <th>Queue Count</th>
                        <th>Abandoned</th>
                        <th>Completed Calls</th>
                        <th>My Last Call</th>
                        <th>Hold Time</th>
                        <th>Talk Time</th>
                        <th class="action-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% @queues.each do |queue| %>
                    <tr data-queue="<%= queue.name %>">
                        <td class="text"><%= queue.name %></td>
                        <td class="text" data-agent="<%= current_user.extension %>" data-property="status">
                                <%= @queue_statuses[queue.name]["members"].has_key?(current_user.extension) ?
                                @queue_statuses[queue.name]["members"][current_user.extension]["status"]:"loggedoff" %>
                        </td>
                        <td class="numeric" data-property="queue-count">N/A</td>
                        <td class="numeric" data-property="abandoned"><%= @queue_statuses[queue.name]["abandoned"] %></td>
                        <td class="numeric" data-property="completed"><%= @queue_statuses[queue.name]["completed"] %></td>
                        <td class="text" data-property="lastCall">
                            <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                <% if @queue_statuses[queue.name]["members"][current_user.extension]["lastCall"] > 0 %>
                                    <%= Time.at(@queue_statuses[queue.name]["members"][current_user.extension]["lastCall"]).strftime("%d.%m.%Y. %H:%M:%S") %>
                                <% else %>
                                    N/A
                                <% end %>                                
                            <% else %>
                                N/A
                            <% end %>
                        </td>
                        <td class="numeric" data-property="holdTime"><%= @queue_statuses[queue.name]["holdTime"] %></td>
                        <td class="numeric" data-property="talkTime"><%= @queue_statuses[queue.name]["talkTime"] %></td>
                        
                        <!-- Queue actions -->
                        <td class="action-col">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                                <ul class="dropdown-menu right">
                                    <!-- Log on/of actions-->
                                    <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                        <li data-action="logonoff" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                            <%= link_to raw('<i class="icon-stop"></i> Log Off'), agent_logoff_path(:queue_id => queue.id), 
                                                { 
                                                    :data => { 
                                                        "on-label" => raw("<i class='icon-play'></i> Log On"),
                                                        "off-label" => raw("<i class='icon-stop'></i> Log Off"),
                                                        "on-href" => agent_logon_path(:queue_id => queue.id),
                                                        "off-href" => agent_logoff_path(:queue_id => queue.id), 
                                                        }, 
                                                :tabindex => -1, :remote => true } %>
                                        </li>
                                    <% else %>
                                        <li data-action="logonoff" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                            <%= link_to raw('<i class="icon-play"></i> Log On'), agent_logon_path(:queue_id => queue.id), 
                                                { 
                                                    :data => { 
                                                        "on-label" => raw("<i class='icon-play'></i> Log On"),
                                                        "off-label" => raw("<i class='icon-stop'></i> Log Off"),
                                                        "on-href" => agent_logon_path(:queue_id => queue.id),
                                                        "off-href" => agent_logoff_path(:queue_id => queue.id), 
                                                        }, 
                                                :tabindex => -1, :remote => true } %>
                                        </li>
                                    <% end %>
                                    
                                    <!-- Pause/unpause actions -->
                                    <% if @queue_statuses[queue.name]["members"].has_key? current_user.extension %>
                                        <% if @queue_statuses[queue.name]["members"][current_user.extension]["paused"] == false %>
                                            <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-pause"></i> Pause'), agent_pause_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                            "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                            "on-href" => agent_pause_path(:queue_id => queue.id),
                                                            "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% else %>
                                            <li data-action="pause" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                                <%= link_to raw('<i class="icon-play"></i> Unpause'), agent_unpause_path(:queue_id => queue.id), 
                                                    { 
                                                        :data => { 
                                                            "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                            "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                            "on-href" => agent_pause_path(:queue_id => queue.id),
                                                            "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                            }, 
                                                    :tabindex => -1, :remote => true } %>
                                            </li>
                                        <% end %>
                                    <% else %>
                                        <!-- Disable pause item if agent is logged off -->
                                        <li data-action="pause" class="disabled" data-queue="<%= queue.name %>" data-agent="<%= current_user.extension %>">
                                            <%= link_to raw('<i class="icon-pause"></i> Pause'), agent_pause_path(:queue_id => queue.id), 
                                                { 
                                                    :data => { 
                                                        "on-label" => raw("<i class='icon-pause'></i> Pause"),
                                                        "off-label" => raw("<i class='icon-play'></i> Unpause"),
                                                        "on-href" => agent_pause_path(:queue_id => queue.id),
                                                        "off-href" => agent_unpause_path(:queue_id => queue.id), 
                                                        }, 
                                                :tabindex => -1, :remote => true } %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
            <% else %>
            <div class="alert alert-block">
              <h4>You are not assigned to any queue!</h4>
            </div>
            <% end %>
        </div>
    </div>
</div>
