<!DOCTYPE html>
<html>
<head>
  <title>WallboardSystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="">
                Wallboard System
                <small><%= yield :view_role %></small>
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li>
                        <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">
                            <span class="label label-important">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="notices">
    <!-- Space reserved for application notices, alerts etc. -->
    <% if notice %>
        <div class="alert alert-info <% if !notice %>hidden<% end %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
    <% end %>
    
    <% if alert %>
        <div class="alert alert-error <% if !alert %>hidden<% end %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </div>
    <% end %>
</div>

<%= yield %>
</body>
</html>
