<!DOCTYPE html>
<html>
<head>
  <title>WallboardSystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid" id="notices">
    <!-- Space reserved for application notices, alerts etc. -->
    <% if notice %>
        <div class="alert alert-info <% if !notice %>hidden<% end %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
    <% end %>
    
    <% if alert %>
        <div class="alert alert-error <% if !alert %>hidden<% end %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </div>
    <% end %>
</div>

<div id="devise-container" class="container">
<%= yield %>
</div>
</body>
</html>
